In [ ]:
#1 First program

In [1]:
print("hello world")

hello world

In [ ]:
# print is a function, it performs the operations for us

In [2]:
print("hello coder!")

hello coder!

In [ ]:
#Variables

In [4]:
name="Bhopendra"
age= 22
print(name)
print(age)

Bhopendra
22

In [ ]:
#How to take input from user

In [8]:
name=input("What is your name?")
print(name)
print("hello" + name)

What is your name?Bhopendra
Bhopendra
helloBhopendra

In [ ]:
#this is called Concatenation

In [ ]:
Type conversion

In [10]:
old_age=input("input your old_age:")
new_age=int(old_age) + 2
print(new_age)

input your old_age:30
32

In [11]:
number=18
print(float(18))

18.0

In [ ]:
#float type conversion

In [ ]:
Print sum of 2 numbers

In [12]:
first=input("enter first number:")
second=input("enter second number")
sum= int(first) + int(second)
print(sum)

enter first number:2
enter second number3
5

In [ ]:
STRINGS

In [13]:
name="Bhopendra Kumar"
print(name.upper())

BHOPENDRA KUMAR

In [14]:
print(name.lower())

bhopendra kumar

In [17]:
name="Bhopendra Kumar"
print(name.find('K'))

10

In [ ]:
#index is the position of the particular alphabet

In [18]:
print(name.replace("Bhopendra", "Rishi"))

Rishi Kumar

In [ ]:
#keywords are the part of the dictionary of the programming language
#Keywords cannot be used as a variable name

In [19]:
name="Bhopendra Kumar"
print('B'in name)

True

In [20]:
print('y'in name)

False

In [21]:
print("Ironman"in name)

False

In [ ]:
ARTHEMATIC OPERATORS

In [22]:
print(5+2)

7

In [23]:
print(5-2)

3

In [24]:
print(5*2)

10

In [25]:
print(5/2)

2.5

In [26]:
print(5//2)  #// means the system will not take numbers after decimal

2

In [27]:
print(5%2)  #Modulo operator

1

In [28]:
print(5**2)   #power operator

25

In [ ]:
# SHORTCUTS

In [ ]:
i=5
i=i+2
i+=2
i-=2
i*=2

In [ ]:
OPERATOR PRECEDENCE

In [30]:
result=2+3*5
print(result)

17

In [31]:
result=(2+3)*5
print(result)

25

In [32]:
result=2+3/5
print(result)

2.6

In [33]:
result=2+3//5
print(result)

2

In [ ]:
#comments- it is port of program which does not perform any operations and calculations
# comments are written in comman english, it will not be part of code.
# its use is to understand by others in the organisations.

In [ ]:
COMPARISON OPERATORS

In [34]:
print(3>2)

True

In [35]:
print(3<2)

False

In [36]:
print(3<=2)

False

In [37]:
print(3>=2)

True

In [38]:
print(3==2)

False

In [39]:
print(3!=2) #not equal to operator

True

In [ ]:
LOGICAL OPERATORS

In [ ]:
#are of 3 types

In [40]:
print(2>3 or 2>1) # first operator- if one statement is true the o/p will be TRUE

True

In [42]:
print(2>3 and 2>1) #second operator- both the statement should be true

False

In [43]:
print(not 2>3) # third operator

True

In [ ]:
If-Else Statements

In [44]:
age=19

if age>=18:
    print("you are an adult")
    print("you can vote")
    
print("thank you")

you are an adult
you can vote
thank you

In [45]:
age=17

if age>=18:
    print("you are an adult")
    print("you can vote")
    
print("thank you")

thank you

In [47]:
age=2

if age>=18:
    print("you are an adult")
    print("you can vote")
elif age<18 and age>3:                    #if first condition not true than check second condition
    print("you are in school")
else:                                     # if all the above conditions are false and this will execute
    print("you are child")
    
    
print("thank you")

you are child
thank you